%form{:action => '/server/decide', :method => 'post'}
  -params.each do |name, value|
    %input{:name => name, :value => value, :type => 'hidden'}
  %p
    Do you want to trust this site?

  %p
    Site:
    &= @openid_request.trust_root

  - if @openid_request.id_select
    %p
      You didn't supply an identity at the request end, so you're stuck.
  - else
    %p
      Identity:
      &= @openid_request.identity

  %input{:type => 'submit', :name => 'decision', :value => 'trust'}
  %input{:type => 'submit', :name => 'decision', :value => 'revoke' }
