!!!DOCTYPE
%html
  %head
    %title
      Open ID Bridge
  %body
    #header
      %h1
        Open ID Bridge
    #content
      =yield

      -if current_user
        %p
          %a{:href => my_url}
            &= current_user
      -else
        %p
          %a{:href => '/login'}
            Log in
