!!!DOCTYPE
%html
  %head
    %title
      Open ID Bridge
    -if @requested_user
      %meta{'http-equiv' => 'X-XRDS-Location', 'content' => xrds_url(@requested_user)}
      %link{:rel => 'openid.sever', :href => url_for('/server', :full)}
  %body
    #header
      %h1
        Open ID Bridge
    #content
      =yield

      -if current_user
        %p
          %a{:href => my_url}
            &= current_user
      -else
        %p
          %a{:href => '/login'}
            Log in
